{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}
{% block stylesheets %}
    <link href="css/login.css" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="container form-margins">
        <div class="alert hidden" id="login-notify"></div>
        <form class="login-form">
            <div>
                <label for="username-login">Username:</label>
                <input id="username-login" name="username-login" class="form-control"/><br>
            </div>
            <div>
                <label for="password-login">Password:</label>
                <input type="password" id="password-login" name="password-login" class="form-control"/><br>
            </div>
            <input type="button" id="submit-login" value="Log in" class="btn btn-primary"/>
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/rpc/Client.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/login/LoginService.js') }}"></script>
{% endblock %}
