<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Login{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <div id="login-notify"></div>
            <form>
                <label for="username-login">Username:</label><input type="text" id="username-login" name="username-login" /><br>
                <label for="password-login">Password:</label><input type="password" id="password-login" name="password-login" /><br>
                <input type="button" id="submit-login" value="Log in" />
            </form>
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/rpc/Client.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/login/LoginService.js') }}"></script>
        {% endblock %}
    </body>
</html>
